.body {
  background-color: orangered;
  text-align: center;
}

.navBar {
  background-color: black;
}

.messageDiv {
  background-color: green;
}

div {
  color: green
}

.roomDiv {
  background-color: honeydew;
  text-align: center;
  text-shadow: hotpink;
}

.home {
  background-color: khaki;
}

.home > .title {
  font-size: large;
  background-color: lawngreen;
}

.navBar .navHomeBut {
  background-color: lawngreen;
}

.navBarListRoomBut {
  background-color: red;
}

.navBarListSignOutBut {
  background-color: green;
}

.messageContainerDiv {
  background-color: orange;
  border-radius: 0%;
  box-sizing: content-box;
  text-align: center;
  text-shadow: orangered;
  text-transform: capitalize;
  align-items: center;
}

.roomDiv {
  background-color: red;
  text-align: center;
  text-shadow: orangered;
  box-shadow: orangered;
}

.navbar {
  min-height: 70px;
}

.navbar-nav > li > a {
  font-weight: 600;
  letter-spacing: 1.2px;
}